---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Charlie Kirk</h1>
			<p>
				Charlie KirkCharlie KirkCharlie KirkCharlie KirkCharlie KirkCharlie KirkCharlie KirkCharlie Kirk
			</p>
			<p>
				Charlie KirkCharlie KirkCharlie KirkCharlie Kirk
			</p>
			<p>Charlie KirkCharlie Kirk</p>
			<ul>
				<li>Charlie KirkCharlie Kirk</li>
				<li>Charlie Kirk</li>
				<li>Charlie Kirk</li>
				<li>Charlie Kirk</li>
				<li>Charlie KirkCharlie Kirk</li>
			</ul>
			<p>
				Charlie KirkCharlie KirkCharlie KirkCharlie Kirk
			<p>
				Charlie KirkCharlie KirkCharlie KirkCharlie KirkCharlie Kirk
			</p>
		</main>
		<Footer />
	</body>
</html>
